# Environment files
.env
.env.local
.env.production
.env.*.local
firebase-secrets.txt

# Build output
dist
build

# Dependencies
node_modules

# IDE
.vscode
.idea

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Firebase
.firebase/
firebase-debug.log
firebase-debug.*.log
firestore.rules

# System Files
.DS_Store
Thumbs.db

# Specific Files
PyRefact.txt 
pyrefact.py 
pyrefact.log.txt 
codestructure.md 
coderefactor.txt

# User Documentation

